*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: black;
    color: white;
    font-family: 'Barriecito', cursive;
    padding: 1rem 0.5rem;
    display: flex;
    border: 2px solid black;
    align-items: center;
}
.nav h1{
    flex-grow: 1;
}
.nav div{
    cursor: pointer;
    margin: 8px;
    padding: 0 0.5rem;
}
.nav div:hover{
    border-bottom: 3px solid white;
}
.nav h1{
    text-align: center;
}
.body{
    background-color: #1e1a1a;
    height: 84vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: min(30%,300px) ;
    height: 70%;
    border: 2px solid white;
    border-radius: 25px;
    background-color: black;

}
.body div{
    font-family: 'Barriecito', cursive;
    width: 80%;
   display: flex;
   flex-direction: column; 
   gap: 0.5rem;
}
label{
    color: white;
    font-size: 23px;
}

input{
    padding: 0 1rem;
    color: black;
    height: 2rem;
    border-radius: 15px;
}
.copy h4{
    text-align: center;
    background-color: gray;
    font-family: 'Barriecito', cursive;
}
a{
    color: white;
    text-decoration: none;
}
button{
    font-family: 'Barriecito', cursive;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}
button:hover{
    cursor: pointer;
    padding: 0.5rem 1.1rem;
}